span.edit-link a {
  color: white;
}
span.edit-link {
  background: #d35400;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 20px;
}
span.edit-link:hover {
  background: #2980b9;
}