#footer-widgets {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.footer-widget {
    flex: 1 auto;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 600px) {
	#footer-widgets {
		flex-direction: row;		
	}
    .footer-widget {
        max-width: 25%;
    }
}
#colophon, #footer-widgets {
	background: $dark;
	color: $light;
	a {
		color: $accentColor;
	}
}
#colophon {
    display: flex;
    justify-content: center;

}
/* Search */
.widget_search button {
    border: none;
    text-align: left;
    height: 40px;
    margin-left: -3px;
    padding: 0 13px;
        cursor: pointer;
}
.widget_search #search {
    height: 40px;
    padding: 0 13px;
    margin: 0;
    border: none;

}

