#footer-widgets {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.footer-widget {
    flex: 1 auto;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 600px) {
	#footer-widgets {
		flex-direction: row;		
	}
    .footer-widget {
        max-width: 25%;
    }
}
#colophon, #footer-widgets {
	background: $dark;
	color: $light;
	a {
		color: $accentColor;
	}
}
#colophon {
    display: flex;
    justify-content: center;

}

/* Schema */
.schemawidget-schema-wrapper {
    clear: both;
    display: block;
    margin: 0 0 20px;
    margin: 0 0 2rem;
    overflow: hidden;
}

.schema-data {
    clear: both;
    display: block;
    font-family: inherit;
    font-size: inherit;
}

.schema-data.name {
    font-size: inherit;
}

.schema-data.fax,
.schema-data.phone,
.schema-data.po_box {
    clear: right;
    display: inline;
    float: left;
}

.schema-label.po_box {
    display: inline;
    float: left;
    margin-right: 4px;
}

.schema-label.email,
.schema-label.fax,
.schema-label.phone,
.schema-label.url {
    clear: left;
    display: inline;
    float: left;
    margin-right: 4px;
}

.schema-label.email,
.schema-label.fax,
.schema-label.hours, 
.schema-label.name,
.schema-label.phone,
.schema-label.url {
    font-weight: bold;
}

.schema-data.email,
.schema-data.url {
    border-bottom: none;
    clear: right;
    display: inline;
    float: left;
    text-decoration: none;
}

.schema-data.email:hover,
.schema-data.url:hover {
    text-decoration: none;
}

.schema-data.address {
    clear: left;
    display: inline;
    float: left;
}

.schema-data.city {
    clear: left;
    display: inline;
    float: left;
}

.schema-data.city_comma {
    clear: none;
    display: inline;
    float: left;
    margin-right: 6px;
}

.schema-data.state_region {
    clear: none;
    display: inline;
    float: left;
    margin-right: 6px;
}

.schema-data.postal_code {
    clear: none;
    display: inline;
    float: left;
    margin-right: 6px;
}

.schema-opening-hours {
    clear: both;
    display: block;
    float: left;
    overflow: hidden;
}