/*
** Header
*/
#masthead a {
    color: $light;
}
.topMenu, .bottomMenu {
    background: $dark;
}
.flexbox {
  display: flex;
  flex-flow: row wrap;
}
.flexbox > * {
   flex: 1 100%;
   margin: 0;
}
.flexbox ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.flexbox ul li {
    padding: 0 1%;
    line-height: 3em;
}
.flex { flex: 1 auto; }

.logo {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
  max-width: 100%;
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.contactInfo nav ul {
  justify-content: center;
}
.contactInfo {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.contactInfo > * {
    flex: 1 auto;
    justify-content: center;
}

.contactInfo nav {
    flex: 1 100% !important;
}
.contactInfo > * {
  flex: 1 auto;
}

.contactInfo i {
    border-radius: 100%;
    padding: 7px;
    margin: 5px 5px;
    text-align: center;
    background: $accentColor;
    color: white;
    font-size: $iconSize !important;
    width: $iconSize;
    min-width: $iconSize;
    max-width: $iconSize;
    height: $iconSize;
    text-shadow: 6px 5px 7px rgba(0, 0, 0, 0.36);
    box-shadow: 6px 5px 7px rgba(0, 0, 0, 0.21);
}
.phoneNumber {
    font-size: $iconSize;
    display: flex;
    align-items: center;
}
.socialIcons {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
  .phoneNumber {
    flex: 88 !important;
  }
  .logo { 
      flex: 0 auto; 
      justify-content: flex-start;
  }
    .contactInfo > * {
      justify-content: flex-end;
  }
    .contactInfo nav ul {
    justify-content: flex-end;
  }
  .socialIcons {
    justify-content: flex-end;
  }
}