.page .entry-header {
    display: flex;
    background-position: center center;
    background-size: cover;
}

.page .entry-header {
    min-height: 10vh;
}

.page .featured-image .entry-header {
    min-height: 35vh;
    justify-content: center;
    align-items: center;
}

.featured-image {
	#primary {
		margin: 0;	
	}
	article > * {
		margin: 15vh 5% 15vh 25%;
		background: $light;
	}
	.entry-header {
    	margin: 0;
	}
}
