
article {
  @include flexbox(center);
  flex-flow: row wrap;
  header.entry-header {
    @include flexbox(center);
    @include lineHeight;
    min-height: 8em;
    flex: 1 100%;
    h1 {
      margin: 0;
    }
  }
  .entry-content {
    padding: 2em 5%;
    max-width: 37em;
  }
}




